body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .container {
    max-width: 94vw !important;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 90vw !important;
  }
}

@media (min-width: 1680px) {
  .container {
    max-width: 80vw !important;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.no-gutters>*,
.no-gutters>[class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

[class*='col-'] {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.3333333333%;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  -ms-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  -ms-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  -ms-flex: 0 0 66.6666666667%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.3333333333%;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  -ms-flex: 0 0 91.6666666667%;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xl-2 {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xl-5 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xl-8 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xl-11 {
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.mx-auto {
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex-wrap {
  flex-wrap: wrap;
}

.button-prev,
.button-next {
  cursor: pointer;
}

.line-bottom {
  border-bottom: 1px solid rgba(240, 0, 32, 0.28);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.color-white {
  color: #ffffff;
}

.color-gray {
  color: #999999;
}

.color-text {
  color: #333333;
}

.color-main {
  color: #f00020;
}

.f-12 {
  font-size: 0.75rem;
}

.f-14 {
  font-size: 0.875rem;
}

.f-16 {
  font-size: 1rem;
}

.f-18 {
  font-size: 1.125rem;
}

.f-20 {
  font-size: 1.25rem;
}

.f-22 {
  font-size: 1.375rem;
}

.f-24 {
  font-size: 1.5rem;
}

.f-25 {
  font-size: 1.5625rem;
}

.f-30 {
  font-size: 1.875rem;
}

.f-36 {
  font-size: 2.25rem;
}

.f-38 {
  font-size: 2.375rem;
}

.f-40 {
  font-size: 2.5rem;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.line-30 {
  line-height: 30px;
}

.p-0 {
  padding: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.m-0 {
  margin: 0;
}

.text-left {
  text-align: left !important;
}

.transition {
  transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
}

.nav-link {
  padding: 1rem 0.5rem;
}

@media screen and (max-width: 768.98px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  /* padding: 0 !important; */
  margin-bottom: 0 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: initial !important;
}

.btn-toggle {
  margin-left: 0;
  cursor: pointer;
  position: relative;
  padding: 0;
  min-width: 30px;
  min-height: 20px;
  transition: 0.3s all linear;
}

.btn-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #58595b;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.btn-toggle span:nth-child(1) {
  top: 0;
}

.btn-toggle span:nth-child(2),
.btn-toggle span:nth-child(3) {
  top: 10px;
}

.btn-toggle span:nth-child(4) {
  top: 20px;
}

.btn-toggle.active span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.btn-toggle.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-toggle.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn-toggle.active span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media screen and (min-width: 320px) {
  .btn-toggle {
    min-width: 24px;
    min-height: 24px;
  }

  .btn-toggle span:nth-child(2),
  .btn-toggle span:nth-child(3) {
    top: 8px;
  }

  .btn-toggle span:nth-child(4) {
    top: 16px;
  }
}

.btn-login {
  position: relative;
  width: max-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px !important;
  border: none;
  background-color: #ffd643 !important;
  padding: 0 !important;
  transition: all ease-in-out 0.5s;
}

.btn-login span,
.btn-login p {
  color: #333;
  margin-bottom: 0;
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  transition: all ease-in-out 0.5s;
  padding: 6.5px 50px;
  white-space: nowrap;
}

.btn-login::after {
  position: absolute;
  top: 55%;
  color: #333;
  right: calc(100% - 36px);
  transform: translateY(-50%);
  content: '\e87a';
  font-family: Linearicons-Free;
  font-size: 1.125rem;
  font-weight: 700;
  transition: all ease-in-out 0.5s;
}

@media screen and (min-width: 1025px) {
  .btn-login:hover {
    background-color: #f00020 !important;
  }

  .btn-login:hover span,
  .btn-login:hover p {
    color: #ffffff !important;
    margin-left: 0;
    transform: translateX(-20px);
  }

  .btn-login:hover::after {
    right: 40px;
    color: #ffffff !important;
  }
}

@media screen and (max-width: 1024.98px) {

  .btn-login span,
  .btn-login p {
    font-size: 1rem !important;
    padding: 0 16px;
  }

  .btn-login::after {
    display: none !important;
  }
}

.btn-viewmore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px auto 0;
  position: relative;
  width: max-content;
  box-sizing: border-box;
  text-decoration: underline !important;
  font-size: 16px;
  line-height: 23px;
  color: #6f7279;
}

.btn-viewmore:hover {
  color: #333;
}

.btn-small {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #333;
  background: #ffd643;
  border-radius: 50px;
  padding: 7px 20px;
}

.btn-small p {
  margin-bottom: 0;
  font-size: 0.875rem;
}

.btn-small::before {
  padding-top: 3px;
  padding-right: 3px;
  content: '\f1df';
  font-family: Material Icons;
  color: #333;
}

.btn-small:hover {
  color: #333;
}

.btn-small:hover p {
  color: #333;
}

@media screen and (max-width: 1024.98px) {
  .btn-small {
    width: 110px;
    height: 32px;
    font-size: 14px;
    margin: 0 auto;
  }

  .btn-small::before {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .btn-small {
    width: 115px;
    height: 23px;
    font-size: 10px;
  }
}

.btn-buy-now {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  width: max-content;
  background: #ffd643;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.75rem;
  color: #333333;
  white-space: nowrap;
}

.btn-buy-now::before {
  padding-right: 10px;
  content: '\f1df';
  font-family: Material Icons;
  font-size: 1.25rem;
}

.btn-buy-now:hover {
  color: #333;
}

@media screen and (max-width: 1024.98px) {
  .btn-buy-now {
    padding: 4px 12px;
    width: auto;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    margin-left: 16px;
    color: #333333;
    white-space: nowrap;
  }

  .btn-buy-now::before {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .btn-buy-now {
    height: 23px;
    font-size: 10px;
  }
}

.btn-view-all {
  border: 0;
  margin-top: 18px;
}

@media (max-width: 1024.98px) {
  .btn-view-all::after {
    display: none;
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  background-color: #f5f5f5;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  background-color: #ffd643;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  font-weight: 400;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  margin: 0;
}

body,
html {
  overflow-x: hidden;
  font-size: 16px !important;
  font-family: 'Be Vietnam', sans-serif !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex='-1']:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 0;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  list-style: none !important;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0;
  margin-left: 0;
}

blockquote {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  text-decoration: none !important;
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  color: #333;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0;
  padding-bottom: 0;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0;
}

button {
  border-radius: 0;
}

button:focus {
  outline: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input:focus,
button:focus,
select:focus,
optgroup:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select.form-control {
  word-wrap: normal;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  appearance: none !important;
  position: relative !important;
  background-image: url('/asset/images/icons/select.png');
  background-repeat: no-repeat !important;
  background-position: 14px !important;
  border: none !important;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden],
.d-none,
.hidden {
  display: none !important;
}

input:focus,
button:focus,
a:focus,
.button-prev:focus,
.button-next:focus,
textarea:focus,
select:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding-bottom: 2rem;
}

@media screen and (max-width: 991.98px) {
  .section {
    padding-bottom: 1.5rem;
  }
}

.title {
  padding: 30px 0 !important;
  text-align: center !important;
  float: none !important;
  border-radius: 0 !important;
  background: none !important;
  height: unset !important;
  color: #000 !important;
}

.title_big {
  font-size: 2.5rem !important;
  color: #000 !important;
  font-weight: 700 !important;
  line-height: 58px !important;
}

.title_small {
  font-size: 2rem !important;
  font-weight: 800 !important;
  line-height: 120% !important;
}

.title_small-white {
  color: #ffffff !important;
}

.title_small-black {
  color: #000 !important;
}

.title_small-bg {
  background: #fff9e2 !important;
}

@media screen and (max-width: 1366px) {
  .title {
    padding: 1rem 0 !important;
  }

  .title_big {
    font-size: 1.875rem !important;
  }

  .title_small {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 992px) {
  .title {
    padding: 0.5rem 0 !important;
  }

  .title_big {
    font-size: 20px !important;
    line-height: normal !important;
  }

  .title_small {
    font-size: 1.375rem !important;
  }
}

#overlay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s all ease-in-out;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.overflow {
  overflow: hidden;
}

.lcl {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.lcl-1 {
  -webkit-line-clamp: 1;
}

.lcl-2 {
  -webkit-line-clamp: 2;
}

.lcl-3 {
  -webkit-line-clamp: 3;
}

.lcl-4 {
  -webkit-line-clamp: 4;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 44px !important;
  height: 44px !important;
  border-radius: 50%;
  border: solid 1px #ffffff;
  background-image: unset !important;
  opacity: 1 !important;
  cursor: pointer !important;
  transition: all ease-in-out 0.3s;
}

.swiper-button-next::before,
.swiper-button-prev::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Linearicons-Free;
  font-size: 1.875rem !important;
  color: #ffffff;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

.swiper-button-next {
  right: -80px !important;
}

.swiper-button-next::before {
  content: '\e87a';
}

.swiper-button-prev {
  left: -80px !important;
}

.swiper-button-prev::before {
  content: '\e879';
}

@media screen and (min-width: 1025px) {

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background: #b6bec8;
  }
}

@media screen and (max-width: 1280px) {

  .swiper-button-next,
  .swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
  }

  .swiper-button-next::before,
  .swiper-button-prev::before {
    font-size: 1.5rem !important;
  }

  .swiper-button-next {
    right: -40px !important;
  }

  .swiper-button-prev {
    left: -40px !important;
  }
}

.tabs .tab-list {
  display: flex;
  padding-left: 0;
}

.tabs .panel {
  display: none;
}

.tabs .panel.active {
  display: block;
}

.productpager {
  width: 100%;
  overflow: auto;
}

.productpager .pagination {
  justify-content: center;
}

.productpager .pagination .page-item {
  margin-right: 4px !important;
}

.productpager .pagination .page-item .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #dde1eb;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 1.25rem;
  color: #6f7279;
}

.productpager .pagination .page-item .page-link:focus {
  box-shadow: none;
}

@media screen and (max-width: 768.98px) {
  .productpager .pagination .page-item .page-link {
    width: 32px;
    height: 32px;
    font-size: 1rem;
  }
}

input#amount,
input#amount-promotion,
input#amount-card {
  width: 100px;
  border: none;
  background: none;
  color: #f00020;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 29px;
}

input#amount:focus,
input#amount-promotion:focus,
input#amount-card:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 1366px) {

  input#amount,
  input#amount-promotion,
  input#amount-card {
    margin-bottom: 8px;
  }
}

.container--tabs .nav-tabs {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.container--tabs .nav-tabs li {
  position: relative;
  display: flex;
  align-items: center;
}

.container--tabs .tab-content {
  float: left;
  width: 100%;
}

.container--tabs .tab-content .tab-panel {
  display: none;
}

.container--tabs .tab-content .tab-panel.active {
  display: block;
}

.container--tabs .tab-content .active {
  display: block;
}

.tag-list {
  margin-bottom: 40px;
}

.tag-list .nav-list {
  display: flex;
  justify-content: center;
}

.tag-list .nav-list ul li {
  padding: 0 4px;
  cursor: pointer;
}

.tag-list .nav-list ul li p {
  display: block;
  padding: 8px 16px;
  background: #fff9e2;
  border-radius: 21px;
  color: #333;
  margin-bottom: 0;
  line-height: 23px;
}

@media screen and (max-width: 1199.98px) {
  .tag-list {
    padding-top: 0;
    margin: 8px 0;
  }

  .tag-list .nav-list {
    justify-content: flex-start;
    overflow-x: auto;
    margin-bottom: 8px;
  }

  .tag-list .nav-list ul {
    min-width: 100%;
    margin-bottom: 8px;
  }

  .tag-list .nav-list ul li p {
    font-size: 0.875rem;
  }
}
