.container-dashboard {
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
    .item {
        width: 100px;
        height: 100px;
        background: radial-gradient(81.28% 120.11% at 88.19% -19%, #fe9595 0, #ff1332 100%);
        text-align: center;
        color: #fff;
        border-radius: 10px;
        margin: 20px;
        padding: 5px;
        justify-content: center;
    }
    .item:hover {
        transform: scale(1.1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
}
