
// MUI CUSTOMIZE ================================================================================================================
//MUI
$primary-mui-color: #ccc ;

.headerColumn {
  color: #000;
  background: #eee;
  font-size: 14px;
}

.MuiDrawer-paper {
  top: 65px !important;
}
.MuiSvgIcon-colorPrimary {
  color: #000 !important;
}

.muiInputBase-input-custom {
  border-color: #d2d6de !important;
  font-size: 16px !important;
  &:focus {
    border-color: $primary-mui-color !important;
    box-shadow: none !important;
  }
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}
.MuiDataGrid-root .MuiDataGrid-row {
  background: #f8f9fa;
}
.MuiDataGrid-cell:focus {
  outline: solid $primary-mui-color 1px !important;
}
.MuiDataGrid-cell--editing:focus {
  border: 1px solid $primary-mui-color !important;
}
.MuiDataGrid-cell--editable:focus {
  border: 1px solid $primary-mui-color !important;
}

.MuiDataGrid-cell.MuiDataGrid-cell--editing:focus-within {
  outline: solid $primary-mui-color 1px !important;
}
.MuiDataGrid-row.Mui-selected {
  transition: opacity 2s ease-in-out !important;
  background-color: $primary-mui-color !important;
}
.MuiDataGrid-row.Mui-selected:hover {
  background-color: $primary-mui-color !important;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: orange !important;
}
MuiDataGrid-viewport,
.MuiDataGrid-row,
.MuiDataGrid-renderingZone {
  max-height: fit-content !important;
}

.MuiDataGrid-root {
  font-size: small !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  font-size: 15px;
  font-family: Open Sans, sans-serif !important;
}

// =====================================================================================================================
// =====================================================================================================================
// =====================================================================================================================
// =====================================================================================================================
//CUSTOM CSS AREA
.react-datepicker-popper {
  z-index: 3 !important;
}
