.fundrelasecontainer {
    position: relative;
   
    .list-item {
        height: 400px;
        overflow: auto;
        background: #fff;
    }
    .border-container{
        border-radius: 10px;
    }
}
