.fundrelasecontainer {
    position: relative;
    border-top: 1px solid #eee;
    .list-item {
        height: 400px;
        overflow: auto;
        background: #fff;
    }
    .border-container{
        border-radius: 10px;
    }
}
