@import "../shared/packages/control/listBox/style.scss";
@import "../shared/packages/control/Tagify/style.scss";
@import "../component/globalstyleComponent.scss";

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #e32229;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    &:hover{
        opacity: 0.8;
        transition: 0.3s ease-in-out all;
    }
}

.my-float {
    margin-top: 18px;
    font-size: 25px;
}
